<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body onload="aboutLoad()">
  <%- include('partials/navigationBar.html') %>
  <img src="/images/mainPic.png" class="backImage">

  <!-- About Page Modal -->
  <div class="modal" id="aboutModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: black;">
        <div class="modal-header">
          <h5 class="modal-title" style="color:yellow"><i>Teri's Issues Manager!</i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="color: cornflowerblue;">Created January 2021 by Terisha Theodat!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer.html') %>

</body>

</html>