<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
  <%- include('partials/navigationBar.html') %>
  <img src="/images/mainPic.png" class="backImage">

  <div class="container">
    <form>
      <div class="jumbotron text-center">
        <h4 class="display-5">Issues Info</h4>
        <p class="paraLeft">
          <label>Description</label>
          <br>
          <textarea placeholder="Describe the issue ..." type="text" id="description" style="width: 90%;"></textarea>
          <br>
          <br>

          <label>Status</label>
          <br>
          <select id="status" style="width: 90%; color: darkred;">
            <option value="Opened" default>Opened</option>
            <option value="Closed">Closed</option>
          </select>
          <br>
        </p>

        <p class="paraRight">
          <label>Severity</label>
          <br>
          <select id="severity" style="width: 90%; color: darkred;">
            <option value="Low" default>Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <br>
          <br>
          <br>

          <label>Assigned To</label>
          <select class="select2-search__field form-control" id="responsible" style="width: 90%; margin:auto;">
            <% for (let i in JSON.parse(technicians)) { %>
            <option value="<%= JSON.parse(technicians)[i].techID %>"><%= JSON.parse(technicians)[i].techFirstname %>
              <%= JSON.parse(technicians)[i].techLastname %></option>
            <% } %>
          </select>
          <br>
          <br>
        </p>

    </form>
    <p style="margin: auto; float: right;">
      <br>
      <button class="btn btn-outline-warning" onclick="newIssue()" type="button">Add Issue</button>
    </p>
  </div>
  </div>

  <%- include('partials/footer.html') %>
</body>

</html>