<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
  <%- include('partials/navigationBar.html') %>
  <img src="/images/mainPic.png" class="backImage">

  <div class="container">
    <form>
      <div class="jumbotron text-center">
        <h4 class="display-5" style="color: yellow;">Technician Info</h4>
        <p class="paraLeft">
          <label for="">First Name</label>
          <input class="inputs" type="text" id="fname" style="width:95%">
          <br>
          <br>

          <label for="">Last Name</label>
          <input class="inputs" type="text" id="lname" style="width:95%">
          <br>
          <br>
        </p>

        <p class="paraRight">
          <label for="">Email</label>
          <input class="inputs" type="email" id="email" placeholder="email@...com" style="width:95%">
          <br>
          <br>

          <label for="">Contact Number</label>
          <input class="inputs" type="tel" id="phone" placeholder="### - ### - ####" style="width:95%">

          <br>
          <br>
        </p>

    </form>
    <button class="btn btn-outline-info" onclick="newTech()" type="button">Add Technician</button>
  </div>
  </div>

  <%- include('partials/footer.html') %>

</body>

</html>