<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.html') %>
<body>
  <%- include('partials/navigationBar.html') %>

    <br>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>

    <%- include('partials/footer.html') %>

</body>
</html>