<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.html') %>
<body>
  <%- include('partials/navigationBar.html') %>
  <img src="/images/mainPic.png" class="backImage">
   
    <%- include('partials/footer.html') %>

</body>
</html>