<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
  <%- include('partials/navigationBar.html') %>
  <img src="/images/mainPic.png" class="backImage">

  <div class="container lists">
    <h4 style="text-align: center; color: navy;">Issues</h4>
    <table class="table table-striped">
      <thead>
        <tr class="table-info">
          <td>Description</td>
          <td>Severity</td>
          <td>Status</td>
          <td>Technician</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <% if(JSON.parse(issues).length > 0) {
          for (let i in JSON.parse(issues)) { %>
        <tr class="table-warning">
          <td><%= JSON.parse(issues)[i].issueDescription %></td>
          <td><%= JSON.parse(issues)[i].issueSeverity %></td>
          <td><%= JSON.parse(issues)[i].issueStatus %></td>
          <td><%= JSON.parse(issues)[i].techFirstname %> <%= JSON.parse(issues)[i].techLastname %></td>
          <td>
            <button type="button" class="btn btn-warning"
              onclick="editIssue(<%= JSON.stringify(JSON.parse(issues)[i]) %>)">Edit</button>
            <button type="button" class="btn btn-info"
              onclick="deleteIssue(<%= JSON.parse(issues)[i].issueID %>)">Delete</button>
          </td>
        </tr>
        <% }
        } else { %>
        <tr class="table-warning">
          <td colspan="5">There are no reported issues.</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <!-- Issues Edit Modal -->
  <div class="modal" id="issueModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Issue</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="mt-4">
            <div class="mb-3">
              <p class="paraLeft">
                <label>Description</label>
                <br>
                <textarea placeholder="Describe the issue ..." type="text" id="descriptionEdit"
                  style="width: 90%;"></textarea>
                <br>

                <label>Status</label>
                <br>
                <select id="statusEdit" style="width: 90%; color: darkred;">
                  <option value="Opened" default>Opened</option>
                  <option value="Closed">Closed</option>
                </select>
              </p>

              <p class="paraRight">
                <label>Severity</label>
                <br>
                <select id="severityEdit" style="width: 90%; color: darkred;">
                  <option value="Low" default>Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
                <br>
                <br>

                <label>Assigned To</label>
                <select class="select2-search__field form-control" id="responsibleEdit"
                  style="width: 90%; margin:auto;">
                  <% for (let i in JSON.parse(technicians)) { %>
                  <option value="<%= JSON.parse(technicians)[i].techID %>">
                    <%= JSON.parse(technicians)[i].techFirstname %> <%= JSON.parse(technicians)[i].techLastname %>
                  </option>
                  <% } %>
                </select>
              </p>
            </div>
          </form>
          <input id="IDedit" style="background-color:lightyellow;" readonly hidden>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="issueEdits">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Toast Message for When Delete Process is cancelled -->
  <div role="alert" aria-live="assertive" aria-atomic="true"
    class="toast d-flex justify-content-center align-items-center w-100 cancelled" data-bs-autohide="false"
    data-bs-delay="2000">
    <div class="toast-header">
      <strong>Cancelled:</strong>
    </div>
    <div class="toast-body">
      Delete process was cancelled.
    </div>
    <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast"
      aria-label="Close"></button>
  </div>

  <%- include('partials/footer.html') %>

</body>

</html>