<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
  <%- include('partials/navigationBar.html') %>
  <img src="/images/mainPic.png" class="backImage">

  <div class="container lists">
    <h4 style="text-align: center; color: navy;">Technicians</h4>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Contact Number</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <% if(JSON.parse(info).length > 0) {
          for (let tech in JSON.parse(info)) { %>
        <tr class="table-success">
          <td><%= JSON.parse(info)[tech].techFirstname %></td>
          <td><%= JSON.parse(info)[tech].techLastname %></td>
          <td><%= JSON.parse(info)[tech].techEmail %></td>
          <td><%= JSON.parse(info)[tech].techContact %></td>
          <td>
            <button type="button" class="btn btn-success"
              onclick="editTech(<%= JSON.stringify(JSON.parse(info)[tech]) %>)">Edit</button>
            <button type="button" class="btn btn-secondary"
              onclick="deleteTech(<%= JSON.parse(info)[tech].techID %>)">Delete</button>
          </td>
        </tr>
        <% }
        } else { %>
        <tr class="table-success">
          <td colspan="5">There are no technicians.</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <!-- Technicians Edit Modal -->
  <div class="modal" id="techModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Technician</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="mt-4">
            <div class="mb-3">
              <p class="paraLeft">
                <label for="">First Name</label>
                <input class="inputs" type="text" id="fnameEdit" style="width:95%">
                <br>
                <br>
      
                <label for="">Last Name</label>
                <input class="inputs" type="text" id="lnameEdit" style="width:95%">
                <br>
                <br>
              </p>
      
              <p class="paraRight">
                <label for="">Email</label>
                <input class="inputs" type="email" id="emailEdit" placeholder="email@...com" style="width:95%">
                <br>
                <br>
      
                <label for="">Contact Number</label>
                <input class="inputs" type="text" id="phoneEdit" placeholder="### - ### - ####" style="width:95%">
              <br>
              <br>
              </p>
      
            </div>
          </form>
          <input id="IDedit2" readonly hidden>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="techEdits">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Toast Message for When Delete Process is cancelled -->
   <div role="alert" aria-live="assertive" aria-atomic="true" class="toast d-flex justify-content-center align-items-center w-100 cancelled" data-bs-autohide="false" data-bs-delay="2000">
    <div class="toast-header">
      <strong>Cancelled:</strong>
    </div>
    <div class="toast-body">
      Delete process was cancelled.
    </div>
    <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast"aria-label="Close"></button>
  </div>


  <%- include('partials/footer.html') %>

</body>

</html>