.modal-body i { 
    position: absolute; 
} 
  
.modal-body { 
    width: 100%; 
    margin-bottom: 10px; 
} 

.inputs { 
    width: 100%; 
    text-align: center; 
} 

.backImage {
    position: relative;
    text-align: center;
    width: 100%;
    height: 880px;
}
.lists {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}
  .jumbotron {
    position: absolute;
    top: 200px;
    background-color:black;
    color: white;
    width: 80%;
    right: 10%;
    left: 10%;
  }

  footer {
    text-align: center;
    color: navy;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paraRight {
    float: right;
    width: 50%;
}

.paraLeft {
    float: left;
    width: 50%;
}

.toast {
    left: 50%;
    top: 250px;
    position: fixed;
    transform: translate(-50%, 0px);
    z-index: 9999;
}
